<!DOCTYPE>
<html>
  <head>
    <title>Word Times</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="containter">
      <%= yield %>
    </div>
  </body>
</html>
