<h1>Welcome to The Word Times Counter Application</h1>
<form action="/word_times_result">
  <div class="form-group">
    <label for="words_to_check">Enter in text you would like to search</label>
    <input id ="words_to_check" name="words_to_check" type="text" class="form-control">
  </div>
  <div class = "form-group">
    <label for="word_to_count">Enter the word you would like to know the count of</label>
    <input id= "word_to_count" name = "word_to_count" class="form-control" type="text">
  </div>
    <button type="submit" class="btn btn-lg" id="submit_btn">Go!</button>
</form>
